In [32]:
import pandas as pd
import numpy as np
import os

In [33]:
y=pd.read_csv(r"C:\Users\Nancy Meshram\Downloads\marathi_01_meta.csv")

In [34]:
y

                      target
0      mr_m_politics_02959|2
1      mr_m_politics_02621|2
2      mr_m_politics_02404|1
3      mr_m_politics_03085|2
4      mr_m_politics_03049|2
...                      ...
7959  mr_m_education_01220|1
7960  mr_m_education_01592|2
7961  mr_m_education_01390|1
7962  mr_m_education_01246|2
7963  mr_m_education_01127|2

[7964 rows x 1 columns]

In [35]:
y['LastDigit'] = [x.strip()[-1] for x in y['target']]

In [36]:
y['target'] = [x[:-2] for x in y['target']]

In [37]:
data=os.listdir(r"C:\Users\Nancy Meshram\Downloads\required_duration_logits\required_duration_logits")

In [38]:
df=pd.DataFrame(data)

In [39]:
df.columns=['files']

In [40]:
df['files'] = [x[:-4] for x in df['files']]

In [41]:
df.head()

             files
0  mr_m_agri_00001
1  mr_m_agri_00002
2  mr_m_agri_00003
3  mr_m_agri_00004
4  mr_m_agri_00005

In [42]:
y.head()

                target LastDigit
0  mr_m_politics_02959         2
1  mr_m_politics_02621         2
2  mr_m_politics_02404         1
3  mr_m_politics_03085         2
4  mr_m_politics_03049         2

In [43]:
df3 = y[y['target'].isin(df['files'])]

In [44]:
df3.head()

                target LastDigit
0  mr_m_politics_02959         2
1  mr_m_politics_02621         2
2  mr_m_politics_02404         1
3  mr_m_politics_03085         2
4  mr_m_politics_03049         2

In [45]:
df3.shape

(7962, 2)

In [46]:
df.to_csv('meta_2.csv')

In [47]:
from sklearn.model_selection import train_test_split
X_train,X_val_test=train_test_split(data,train_size=0.8,random_state=42)
X_val,X_test=train_test_split(X_val_test,test_size=0.5,random_state=42)

In [48]:
print(len(X_train),len(X_val),len(X_test))

6369 796 797

In [49]:
len(data)

7962

In [50]:
import shutil

In [ ]:
################ Train Data #################

sour=r"C:\Users\Nancy Meshram\Downloads\required_duration_logits\required_duration_logits"
dest=r"C:\Users\Nancy Meshram\Downloads\train\train"
for f in data:
    if f in X_train:
        shutil.copy(os.path.join(sour, f), dest)

In [ ]:
################ Validation Data #####################

sour=r"C:\Users\Nancy Meshram\Downloads\required_duration_logits\required_duration_logits"
dest=r"C:\Users\Nancy Meshram\Downloads\val\val"
for f in data:
    if f in X_val:
        shutil.copy(os.path.join(sour, f), dest)

In [ ]:
################## Test Data #######################

sour=r"C:\Users\Nancy Meshram\Downloads\required_duration_logits\required_duration_logits"
dest=r"C:\Users\Nancy Meshram\Downloads\test\test"
for f in data:
    if f in X_test:
        shutil.copy(os.path.join(sour, f), dest)